.container3{
    margin-top: 100px;
    margin-bottom: 50px;
    height: 80px;
    width: 100%;
    text-align: left;
    background-color: rgb(211, 198, 167);
}
#lista_vendas{
    margin-top: 10px;
    margin-bottom: 50px;
    height: 100%;
    width: 100%;
    text-align: left;
    background-color: aqua;
}