<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
    {% block title %}
        MS - Orfeu
    {% endblock title %}
    </title>


    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>



</head>
<body onload="formataMoeda()">

    <header>
        <a href="/"><img src="{{url_for('static', filename='images/logo.jpeg')}}" alt="MS-Orfeu"></a>
        <nav>

            {% if current_user.is_authenticated %}


            {% if current_user.nivel_acesso == "NivelAcesso 1" %}
                <li><a class="fill" href="/add_produto_full">Cadastrar Produtos</a></li>
                <li><a class="fill" href="/produtos_cadastrados">Consultar Produtos</a></li>
                <li><a class="fill" href="/add_usuario">Cadastrar Usuários</a></li>
                <li><a class="fill" href="/usuarios_cadastrados">Consultar Usuários</a></li>
                <li><a class="fill" href="{{ url_for('logout') }}">Logout</a></li>

                {% else %}
                <li><a class="fill" href="/listar_categorias">Categorias</a></li>
                <li><a class="fill" href="/categorias_cadastradas">Consultar Categorias</a></li>
                <li><a class="fill" href="/marcas_cadastradas">Consultar Marcas</a></li>
                <li><a class="fill" href="/medidas_cadastradas">Consultar Medidas</a></li>
                <li><a class="fill" href="/listar_marcas">Marcas</a></li>
                <li><a class="fill" href="/listar_medidas">Medidas</a></li>
                <li><a class="fill" href="/add_produto_full">Cadastrar Produtos</a></li>
                <li><a class="fill" href="/produtos_cadastrados">Consultar Produtos</a></li>
                <li><a class="fill" href="/add_usuario_full">Cadastrar Usuários</a></li>
                <li><a class="fill" href="/usuarios_cadastrados">Consultar Usuários</a></li>
                <li><a class="fill" href="/add_cliente_full">Cadastrar Clientes</a></li>
                <li><a class="fill" href="/clientes_cadastrados">Consultar Clientes</a></li>
                <li><a class="fill" href="/tipo_pagamento">Tipo de pagamento</a></li>
                <li><a class="fill" href="/teste1">teste1</a></li>
                <li><a class="fill" href="/adicionar_nova_venda">Realizar Venda</a></li>

                <li><a class="fill" href="{{ url_for('logout') }}">Logout</a></li>
                {% endif %}

                {% else %}
                <li><a class="fill" href="{{ url_for('login') }}">Login</a></li>
            {% endif %}
        </nav>
    </header>


        {% block main %}

        {% endblock main %}


    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/scripts.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='js/popper.js')}}"></script>
</body>
</html>
