{% extends 'base.html' %}

{% block title %}
    {{ super() }} - Deletar Cliente
{% endblock title %}

{% block main %}
<!-- 
<p class="ocultar nivel">{{current_user.nivel_acesso}}</p>

<div class="container hider" align="center"> -->

  <!-- nome
  telefone
  data_pagamento
  cpf
  observacao

  NOME
  TELEFONE
  DATA PAGAMENTO
  CPF
  OBSERVACAO -->

<div class="container" align="center">
        <h1 align="center">Apagar Cliente: {{cliente.nome}}</h1>

        <form action="/delete_cli/{{cliente.id}}">
  
            <div class="form-group col-md-4">
                <label for="nome">NOME</label>
                <input type="text" class="form-control" id="nome" name="nome" value="{{cliente.nome}}" disabled>
              </div>
    
              <div class="form-group col-md-4">
                <label class="fill2" for="telefone">TELEFONE:</label>
                <input type="text" class="form-control" id="telefone" name="telefone" value="{{cliente.telefone}}" disabled>
              </div>

              <div class="form-group col-md-4">
                <label class="fill2" for="data_pagamento">DATA PAGAMENTO:</label>
            <input type="date" class="form-control" id="data_pagamento" name="data_pagamento"  value="{{cliente.data_pagamento}}" disabled>
              </div>

              <div class="form-group col-md-4">
                <label class="fill2" for="cpf">CPF:</label>
            <input type="text" class="form-control" id="cpf" name="cpf" value="{{cliente.cpf}}" disabled>
              </div>

              <div class="form-group col-md-4">
                <label class="fill2" for="observacao">OBSERVACAO:</label>
                <textarea name="observacao" id="observacao" cols="30" rows="10" disabled>{{cliente.observacao}}</textarea>
                <!-- <input type="text" class="form-control" id="observacao" name="observacao" value="{{cliente.observacao}}" disabled> -->
              </div>


              <a href="/clientes_cadastrados"><button type="button" class="btn btn-primary">Cancelar</button></a>
            <button type="submit" class="btn btn-danger" onclick="msg(3)">Apagar</button>


            <!-- <script src="{{ url_for('static', filename='js/verifica_acesso.js')}}"></script> -->
          </div>
{% endblock main %} 