{% extends 'base.html' %}

{% block title %}
{{ super() }} - Editar Produto
{% endblock title %}

{% block main %}


<!-- <p class="ocultar nivel">{{current_user.nivel_acesso}}</p>

<div class="container hider" align="center"> -->

<div class="container" align="center">
  <h1 align="center">Editar Produto: {{produto.nome}}</h1>

  <form action="/edit_produto/{{produto.id}}" method="POST">

    <div class="form-group col-md-4">
      <label for="codigo_barras">Código</label>
      <input type="text" class="form-control" id="codigo_barras" name="codigo_barras" value="{{produto.codigo_barras}}">
    </div>

    <div class="form-group col-md-4">
      <label for="descricao_produto">Descricao</label>
      <input type="text" class="form-control" id="descricao_produto" name="descricao_produto"
        value="{{produto.descricao_produto}}">
    </div>


    <div class="form-group col-md-4">
      <label for="quantidade_produto">Quantidade</label>
      <input type="number" class="form-control" id="quantidade_produto" name="quantidade_produto"
        value="{{produto.quantidade_produto}}">
    </div>

    <div class="form-group col-md-4">
      <label for="quantidade_minima">Quant. Mínima</label>
      <input type="number" class="form-control" id="quantidade_minima" name="quantidade_minima"
        value="{{produto.quantidade_minima}}">
    </div>

    <div class="form-group col-md-4">
      <label for="quantidade_maxima">Quant. Máxima</label>
      <input type="number" class="form-control" id="quantidade_maxima" name="quantidade_maxima"
        value="{{produto.quantidade_maxima}}">
    </div>

    <!-- Converter o ponto para virgula-->

    <div class="form-group col-md-4">
      <label for="peso_liquido">Peso Liquido</label>
      <input type="text" class="form-control" id="peso_liquido" name="peso_liquido" value="{{produto.peso_liquido}}">
    </div>

    <div class="form-group col-md-4">
      <label for="peso_bruto">Peso Bruto</label>
      <input type="text" class="form-control valor" id="peso_bruto" name="peso_bruto" value="{{produto.peso_bruto}}">
    </div>

    <div class="form-group col-md-4">
      <label for="preco_custo">Preço Custo</label>
      <input type="text" class="form-control" id="preco_custo" name="preco_custo" value="{{produto.preco_custo}}">
    </div>

    <div class="form-group col-md-4">
      <label for="preco_venda">Preço Venda</label>
      <input type="text" class="form-control valor" id="preco_venda" name="preco_venda" value="{{produto.preco_venda}}">
    </div>

  <!-- ******************************** Categoria ******************************** -->

    <!--Precisamos verificar como será feita a alteração da categoria do produto, se deixaremos o select, precisamos realizar testes e por enqunto, vamos manter os próprios id de categoria, marca e medida-->
    <div class="form-group col-md-4">
      <label for="nome_categoria">Categoria</label>
      <input type="text" class="form-control" id="nome_categoria" name="nome_categoria"
        value="{{produto.nome_categoria}}" disabled>
    </div>


    <!--Caso o usuário não escolha categoria, verificar como trataremos-->
    <div class="form-group col-md-4">
      <label class="fill2" for="id_categoria">Categorias:</label>
      <select class="form-select id_categ_select" aria-label="Default select example" id="id_categ_select" onchange="add_categoria()">
        <option selected>Escolha uma Categoria</option>
        {% for c in categorias %}
        <option value="{{c.id}}">{{c.nome_categoria}}</option>
        {% endfor %}
      </select>
      <!--Definiremos um valor default para categoria, ou seja, caso o usuário não selecione nenhuma categoria cadastraremos uma categoria padrão-->
      <input type="number" class="form-control id_categoria" id="id_categoria" name="id_categoria"
        value="{{produto.id_categoria_id}}" hidden>

    </div>

  <!-- ******************************** Marca ******************************** -->


    <div class="form-group col-md-4">
      <label for="nome_marca">Marca</label>
      <input type="text" class="form-control" id="nome_marca" name="nome_marca" value="{{produto.nome_marca}}" disabled>
    </div>


    

    <div class="form-group col-md-4">
      <label class="fill2" for="id_marca">Marca:</label>
      <select class="form-select id_marca_select" aria-label="Default select example" id="id_marca_select" onchange="add_marca()">
        <option selected>Escolha uma Marca</option>
        {% for m in marcas %}
        <option value="{{m.id}}">{{m.nome_marca}}</option>
        {% endfor %}
      </select>

      <!--Definiremos um valor default para categoria, ou seja, caso o usuário não selecione nenhuma categoria cadastraremos uma categoria padrão-->
      <input type="number" class="form-control id_marca" id="id_marca" name="id_marca" value="{{produto.id_marca_id}}" hidden>
    </div>


    <!-- ******************************** Medida ******************************** -->

    <div class="form-group col-md-4">
      <label for="nome_medida">Medida</label>
      <input type="text" class="form-control" id="nome_medida" name="nome_medida" value="{{produto.nome_medida}}" disabled>
    </div>


    <div class="form-group col-md-4">
      <label class="fill2" for="id_medida">Medida:</label>

      <select class="form-select id_medida_select" aria-label="Default select example" id="id_medida_select" onchange="add_medida()">
        <option selected>Escolha uma Medida</option>
        {% for m in medidas %}
        <option value="{{m.id}}">{{m.nome_medida}}</option>
        {% endfor %}
      </select>

      <!--Definiremos um valor default para categoria, ou seja, caso o usuário não selecione nenhuma categoria cadastraremos uma categoria padrão-->
      <input type="number" class="form-control id_medida" id="id_medida" name="id_medida" value="{{produto.id_medida_id}}" hidden>
    </div>



    <a href="/produtos_cadastrados"><button type="button" class="btn btn-danger">Cancelar</button></a>
    <button type="submit" class="btn btn-dark">Alterar Produto</button>


    <!-- <script src="{{ url_for('static', filename='js/verifica_acesso.js')}}"></script> -->
</div>
{% endblock main %}
