<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">

  <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
</head>

<body>

  <div class="container principal">

    <h1 class="texto-login">Login</h1>
    <div class="divisao"></div>
    <form action="" method="POST">
      {{ form.csrf_token }}
      <div class="nome">
        {{ form.login(class="form-control", placeholder="Seu Usuário")}}
      </div>

      <div id="senha_login" class="senha">
        {{ form.senha(class="form-control", placeholder="Sua Senha")}}
      </div>


      <button type="submit" class="btn btn-default btn-enter">Entrar</button>


      <!-- Ajustar a classe abaixo (dados-invalidos)-->
      <div class="dados-invalidos">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
      </div>
    </form>


    <div class="esqueciSenha">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#esqueciSenha">
        Esqueci a senha!
      </button>
    </div>
  </div>



  <!-- Não colocar o conteúdo abaixo dentro da div principal se não teremos erros -->

  <div class="modal fade" id="esqueciSenha" tabindex="-1" role="dialog" aria-labelledby="esqueciSenhaLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">


      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="esqueciSenhaLabel">Esqueceu sua senha? Não se preocupe, digite seu e-mail abaixo e
            te encaminharemos uma senha provisória</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form action="/recuperar_senha_email" method="POST">
            <div class="form-group col-md-4">
              <input type="email" class="form-control email" id="email" name="email" required>
            </div>
            <button type="submit" class="btn btn-primary">Enviar Senha</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          </form>
        </div>
      </div>


    </div>
  </div>

  <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>

</body>
</html>