{% extends 'base.html' %}


{% block title %}
    {{ super() }} - Marcas Cadastradas
{% endblock title %}


{% block main %}



<div class="container" align="center">
    <h1 align="center" class="fill2">Marcas Cadastradas</h1>
    <table border="1" width="70%" class="table table-striped">
      <thead>
        <tr>
          <th class="fill2">Marcas</th>
        </tr>
      </thead>
      <tbody>
        {% for m in marcas %}
        <tr>
          <td>{{m.nome_marca}}</td>
          <td>
            <a class="edit" data-toggle="modal" data-target="#modalExemplo" onclick="setaDadosModal('{{m.id}}')">
              <img src="{{url_for('static', filename='images/editar.png')}}">
            </a>
          </td>
          <!-- <td>
            <a class="delet" href="/deletar_marca/{{m.id}}">
              <img src="{{url_for('static', filename='images/remover.png')}}">
            </a>
          </td> -->

        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        
        {% if message %}
          <p id="marca_ja_existe" class="hider">{{message}}</p>
          <script>
            marca_ja_existe = document.getElementById('marca_ja_existe')
            alert(marca_ja_existe.innerText)
          </script>
        {% endif %}
      {% endfor %} 
      </ul>
    {% endif %}
  {% endwith %}

</div>

<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">

    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Marca</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form id="EditBrands" action="" method="POST">

          <div class="form-group col-md-7">
            <label for="id_marca">Marcas:</label>
            <input type="text" id="nome_marca" name="nome_marca">
          </div>

          <input type="hidden" id="idMarca" name="idMarca">

            <a href="/marcas_cadastradas"><button type="button" class="btn btn-danger">Cancelar</button></a>
            <button type="submit" class="btn btn-dark">Alterar Marca</button>
        </form>
    </div>
    </div>
    <div class="modal-footer">

    </div>

    </div>
  </div>
</div>
 
<script>
  function setaDadosModal(valor) {
    document.getElementById('idMarca').value = valor;
  }
  $(".edit").click(function () {
    route = "/edit_marca/" + document.getElementById('idMarca').value;
    $.get(route, function (retorno) {
      var obj = JSON.parse(retorno);
      document.getElementById('nome_marca').value = obj.nome_marca
      $('#EditBrands').attr('action', route);
    });
  });
</script>

{% endblock main %}
    